*.toc
*.aux
*.pdf
*.log
*.out
*.nav
*.snm
*.vrb
*.bbl
*.blg
*.eps

estimation-problems-2.tex
estimation-problems-multivariate.tex
create-extended-statistics.tex
estimation-problems-n-distinct.tex
estimation-problems.tex
pygments.tex
data/generated.sql
